@use "../../styles/mixin" as *;

.submitReview {
  @include section;
  // @include displayColumn;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  width: 700px;
  margin: 0 auto;
  @media (max-width: 768px) {
    width: 100%;
  }
  form {
    width: 100%;
    align-items: center;
    gap: 20px;
    @include displayColumn;
    .NameFirstName {
      width: 100%;
      display: flex;
      justify-content: space-between;
      @media (max-width: 768px) {
        flex-direction: column;
        gap: 20px;
      }
      .name,
      .firstName {
        input {
          width: 233px;
          height: 40px;
        }
      }
    }
    .starRatings {
      width: 100%;
      padding-left: 233px;
      @media (max-width: 768px) {
        padding-left: 0;
      }
    }
    .formReview {
      width: 100%;
      position: relative;
      justify-content: space-between;
      @include displayColumn;
      @include font18-600;
      gap: 10px;
      textarea {
        height: 300px;
        overflow-y: auto;
        padding: 30px 20px;
        @include input;
        @include insideInput;
      }
      .review-counter {
        position: absolute;
        padding: 10px 10px;
        font-size: 12px;
        background-color: transparent;
        font-style: italic;
        top: 28px;
        right: 0;
      }
    }
  }
  .buttonSubmit {
    @include buttonSubmit;
  }
}
