@import "../../styles/mixin";

.slideshow {
  @include section;
  @include displayColumn;
  gap: 30px;
  .slideShow_container {
    display: flex;
    justify-content: center;
    gap: 30px;
    [class*="fa-chevron"] {
      cursor: pointer;
      display: flex;
      align-items: center;
      font-size: 30px;
    }
    @media (max-width: 1024px) {
      .ReviewDesktop{
        display: none;
      }
    }
  }
}
