@import "../../styles/mixin";

.slideshow {
  @include section;
  @include displayColumn;
  gap: 20px;
  .slideShow_container {
    position: relative;
    display: grid;
    grid-template-columns:calc(33% - 33px) calc(33% - 33px) calc(33% - 33px);
    justify-content: center;
    gap: 20px;
    [class*="fa-chevron"] {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      display: flex;
      align-items: center;
      font-size: 30px;
    }
    .fa-chevron-left{
      left: 0;
    }
    .fa-chevron-right{
      right: 0;
    }
    @media (max-width: 1024px) {
      .ReviewDesktop{
        display: none;
      }
    }
  }
}
