@use "../../styles/mixin" as *;

.cardRecipe {
  position: relative;
  margin: auto;
  color: black;
  margin: auto;
@include cardRecipe;

  .duration {
    position: absolute;
    width: auto;
    z-index: 2;
    top: 0;
    left: 0;
    border-bottom-right-radius: 20px;
    @include useBadgeInfo;
  }

  .regimeActive {    
    bottom: 0;
    right: 0;
    border-top-left-radius: 20px;
    @include useBadgeInfo;
  }

  p{
    color: #D6D6D6;
  }

  img {    
    position: absolute;
    @include cardRecipe;
  }
}