@use "../../styles/mixin" as *;

.cardRecipe {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  color: black;
  .duration {
    display: block;
    width: auto;
    top: 0;
    left: 0;
    border-bottom-right-radius: 20px;
    @include useBadgeInfo;
  }

  .regimeActive {
    bottom: 0;
    right: 0;
    border-top-left-radius: 20px;
    @include useBadgeInfo;
  }

  p {
    color: #d6d6d6;
  }

  img {
    position: absolute;
    @include cardRecipe;
  }
}
