@import "../../styles/mixin";

.review {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
  width: 100%;
  @media (max-width: 1024px) {
    width: 100%;
  }
  .name {
    @include font18-600;
  }
  .comment {
    height: 100%;
  }
  .ratingsReview{
   @include ratings; 
  }
}
