@use "../../styles/mixin" as *;

.authPage {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  @media (max-width: 1024px) {
    gap: 30px;
  }
  img{
    object-position: center;
  }
  .authPage-ConnexionForm,
  .authPage-SignInForm {
    width: 450px;
    border-radius: 20px;
    align-items: center;
    gap: 20px;
    @include displayColumn;
    @include section;
    @media (max-width: 768px){
        width: 100%;
    }
    form {
      width: 300px;
      gap: 20px;
      @include displayColumn;
      button {
        @include buttonSubmit;
        margin: 30px auto 0 auto;
      }
    }
  }
}
