@import "../../styles/mixin";

.methodRate {
  img{
    object-position: right;
    height: 78%;
  }
  @include displayColumn;
  align-items: center;
  gap: 20px;
  padding: 20px;
  @media (max-width: 1024px) {
    background-position: right;
  }
}
