@use "../../styles/mixin" as *;

.methodRate {
  position: relative;
  img{
    object-position: right;
  }
  @include displayColumn;
    justify-content: space-between;

  align-items: center;
  gap: 20px;
  padding: 20px;
  @media (max-width: 1024px) {
    background-position: right;
  }
}
