@import "../../styles/mixin";

.methodRate {
  background-image: url(/assets/img/background/background-methodRate.webp);
  @include backgroundImg;
  background-position: right;
  @include displayColumn;
  align-items: center;
  gap: 20px;
  padding: 20px;
  @media (max-width: 1024px) {
    background-position: right;
  }
}
