@use "../../styles/mixin" as *;

.recipes {
  position: relative;
  @include displayColumn;
  justify-content: space-between;
  gap: 20px;
  .choice {
    @include section;
    @media (max-width: 768px) {
      @include displayColumn;
      justify-content: space-between;
      gap: 20px;
    }
    h2 {
      width: 100%;
      margin-bottom: 30px;
    }
    .choice_container {
      max-width: 1210px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 30px;
      margin: auto;
      @media (max-width: 768px) {
        gap: 20px;
      }
      .buttonRecipe {
        transition: all 0.2s ease;
        width: 210px;
        background-color: #efd666;
        @media (max-width: 1024px) {
          width: 20%;
          padding: 10px;
          height: 60px;
        }

        @media (max-width: 768px) {
          width: 82px;
          padding: 10px;
          height: 70px;
        }
      }
      .buttonRecipeActive {
        font-weight: 800;
        box-shadow: 1px 1px 10px 6px rgb(0, 0, 0, 0.7);
      }
    }
  }
  .recipesCards {
    @include section;
    @include displayColumn;
    justify-content: space-between;
    gap: 20px;
    .titleRecipesCards {
      margin: 0;
      @media (max-width: 525px) {
        margin-bottom: 20px;
      }
    }
    ul {
      list-style: none;
      @include grid3Colums;
      grid-template-rows: 1fr 1fr;
      @media (max-width: 768px) {
        grid-template-columns: repeat(2, calc(50% - 40px));
        grid-template-rows: auto 1fr auto;
      }
      @media (max-width: 525px) {
        grid-template-columns: 100%;
        grid-template-rows: 1fr 1fr;
      }
      .cardRecipe {
        .duration {
          border-top-left-radius: 20px;
        }
        .regimeActive {
          border-bottom-right-radius: 20px;
        }
        img {
          border-radius: 20px;
        }
        h3 {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          z-index: 2;
          width: 100%;
          text-align: center;
        }
      }
      .cardRecipe::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.6);
        border-radius: 20px;
        z-index: 1;
      }
    }
    .noRecipesMessage {
      grid-column: 1/4;
      text-align: center;
      @media (max-width: 768px) {
        grid-column: 1/3;
      }
    }
    .pagination {
      grid-column: 1 / 4;
      grid-row: 4;
      width: 100%;
      @include grid3Colums;
      @media (max-width: 768px) {
        grid-column: 1/3;
      }
      .pagination-prev {
        grid-column: 1;
      }
      .counter {
        grid-column: 2;
        text-align: center;
      }
      .pagination-next {
        grid-column: 3;
      }
      button {
        @include displayFlex5px;
        @include buttonBase;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        .fa-solid {
          display: flex;
          align-content: center;
          font-size: 16px;
          @media (max-width: 768px) {
            font-size: 14px;
          }
          p {
            text-align: center;
            @media (max-width: 768px) {
              line-height: 0;
            }
          }
        }
      }
    }
  }
}
