@use "../../styles/mixin" as *;

.list {
    gap: 20px;
    padding-left: 20px;
    border-left: 1px solid black;
    @include displayColumn;
    .ingredientsList {
        list-style: none;
    gap: 20px;
    @include displayColumn;
    li{
        display: flex;
        gap: 15px;
        align-items: center;
    }
}
}