@use "../../styles/mixin" as *;

.choice {
  @include section;
  @media (max-width: 768px) {
    @include displayColumn;
    justify-content: space-between;
    gap: 20px;
  }
  h2 {
    width: 100%;
    margin-bottom: 30px;
  }
  .choice_container {
    max-width: 1210px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin: auto;
    @media (max-width: 768px) {
      gap: 20px;
    }
    .buttonRecipe {
      width: 210px;
      background: #ffe6a1;
      background: linear-gradient(
        0deg,
        rgba(255, 230, 161, 1) 0%,
        rgba(252, 186, 3, 1) 100%
      );
      @include recipeButton;
      @media (max-width: 768px) {
        width: 82px;
        height: 70px;
      }
    }
    .buttonRecipeActive {
      @include recipeButtonActive;
    }
  }
}
