@import "../../styles/mixin";

.formReview {
  width: 100%;
  position: relative;
  @include displayColumn;
  gap: 10px;
  textarea {
    @include input;
    @include insideInput;
    height: 300px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    padding-top: 30px;
  }
  .review-counter {
    position: absolute;
    padding: 10px 10px;
    font-size: 12px;
    background-color: transparent;
    font-style: italic;
    top: 28px;
    right: 0;
  }
}
