@use "../../styles/mixin" as *;

.buttonRecipe {
  transition: all 0.2s ease;
  @include button;
  background-color: #ecd052;

  @media (max-width: 1024px){
    width: 20%;
    padding: 10px;
    height: 60px;
  }
  
  @media (max-width: 768px){
    width: 82px;
    padding: 10px;
    height: 70px;
  }

  &.buttonRecipeActive {
    font-weight: 800;
    box-shadow: 1px 1px 10px 6px rgb(0, 0, 0, 0.7);
  }
}