@import "../../styles/mixin";

@mixin cardRecipe {
  width: 300px;
  height: 300px;
  border-radius: 20px;
  @media (max-width: 1024px) {
    width: 200px;
    height: 200px;
  }
}

.cardRecipe {
  @include cardRecipe;
  position: relative;
  margin: auto;
  color: black;
  .duration{
    @include useBadgeInfo;
    top: 0;
    left: 0;
    border-bottom-right-radius: 20px;
     border-top-left-radius: 20px;
  }
  h3 {
    position: absolute;
    z-index: 2;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    box-sizing: border-box;
  }

  img {
    @include cardRecipe;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    object-fit: cover;
    opacity: 0.4;
  }
}
