@use "../../styles/mixin" as *;

.cardRecipe {
  position: relative;
  margin: auto;
  color: black;
  @include cardRecipe;
  margin: auto;
  .duration {
    position: absolute;
    width: auto;
    z-index: 1;
    @include useBadgeInfo;
    top: 0;
    left: 0;
    border-bottom-right-radius: 20px;
  }
  .regimeActive {
    @include useBadgeInfo;
    bottom: 0;
    right: 0;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
  }
  p{
    color: #D6D6D6;
  }
  img {
    @include cardRecipe;
    position: absolute;
  }
  
}

// A tester : button jaune + marron et recettes badge : vert foncé + blanc