@import "./variables";

@mixin section {
  background-color: rgb(255, 255, 255, 0.85);
  padding: 20px;
}

@mixin displayColumn {
  display: flex;
  flex-direction: column;
}
@mixin backgroundImg {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@mixin ratings {
    display: flex;
    height: 25px;
    .fa-star {
      padding-right: 5px;
      font-size: 20px;
      color: #808080;
    }
    .starSelected {
      color: $green;
    }
}
@mixin input {
  border-radius: 10px;
  border: 0;
  box-shadow: 1px 1px 7px 3px rgb(0, 0, 0, 0.7);
}
@mixin font18-600 {
  font-size: 18px;
  font-weight: 600;
  margin-left: 10px;
  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

@mixin insideInput {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #d9d9d9;
  resize: none;
  @media (max-width: 768px) {
    font-size: 14px;
  }
}
