@import "./variables";

@mixin section{
  background-color: rgb(255, 255, 255, 0.85);
    padding: 20px;
}

@mixin displayColumn {
  display: flex;
  flex-direction: column;
}
@mixin ratings {
  .ratings {
    display: flex;
    .fa-star {
      padding-right: 5px;
      font-size: 20px;
      color: #808080;
    }
    .starSelected {
      color: $green;
    }
  }
}
@mixin input {
  border-radius: 10px;
  border: 0;
  box-shadow: 1px 1px 7px 3px rgb(0, 0, 0, 0.7);
}
@mixin label {
  font-size: 18px;
  font-weight: 600;
}
