@import "./variables";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
body {
  position: relative;
  max-width: 1440px;
  margin: 20px auto 0 auto;
}
p, span, li, a {
  font-size: 18px;
  text-align: justify;
  line-height: 25px;
  @media (max-width: 1024px) {
    font-size: 14px;
  }
  @media (max-width: 768px) {
    font-size: 10px;
  }

}
h2{
  width: 100%;
  font-family: 'Caprasimo';
  font-size: 24px;
  text-align: center;
}
h3{  
  font-size: 20px;
  text-align: center;
}
section{
  background-color: rgb(255, 255, 255, 0.85);
    padding: 20px;
}
.hidden{
  display: none;
}