@use "./variables" as *;
@use "./mixin" as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
html{
  position: relative;
}
body {
  max-width: 1440px;
  min-height: 100vh;
  margin: 20px auto 0 auto;
}
#root{
  @include displayColumn;
    justify-content: space-between;
  min-height: 100vh;
}
main{
  padding: 20px 0;
}
h2{
  width: 100%;
  font-family: 'Caprasimo';
  font-size: 24px;
  text-align: center;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
  @media (max-width: 768px) {
    font-size: 18px;
  }
}
h3{  
  font-size: 20px;
  text-align: center;
  @media (max-width: 1024px) {
    font-size: 16px;
  }
  @media (max-width: 768px) {
    font-size: 14px;
  }
}
p, li, li::before, a, input {
  font-size: 16px;
  line-height: 25px;
  @media (max-width: 1024px) {
    font-size: 14px;
  }
  @media (max-width: 768px) {
    font-size: 12px;
  }
}

input:focus,
textarea:focus {
  outline: none;
}

.dataNull{
  display: flex;
  justify-content: center;
  align-items: center;
animation: opacity 500ms forwards;
  }
  
  @keyframes opacity {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }