@import "./variables";
@import "./mixin";

.home {
  background-image: url(../../public/assets/img/background-home.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  @include displayColumn;
  gap: 30px;
  .objectif {
    @include displayColumn;
    gap: 40px;
    .row{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      gap: 20%;
    }
    article {
      @include displayColumn;
      justify-content: center;
      gap: 5px;
      width: 270px;
      i,
      p {
        text-align: center;
      }
      i {
        font-size: 95px;
      }
      .fa-seedling,
      .fa-rotate,
      .fa-dumbbell {
        color: $green;
      }
      .fa-scale-balanced,
      .fa-heart-pulse,
      .fa-bullseye {
        color: $brown;
      }
    }
  }
}
.slideshow{
  @include displayColumn;
  gap: 30px;
}