@import "./variables";
$imgAbout-container : 250px;
@import "./mixin";

.home {
  background-image: url("../public/assets/img/backgroundObjectifs.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 30px;
  img {
    width: $imgAbout-container;
    object-fit: cover;
    border-top-left-radius: 100%;
    margin-left: 20px;
  }
  .about {
    display: flex;
    background-color: transparent;
    &___container {
      @include section;
      width: calc(100% - $imgAbout-container);
      gap: 30px;
      line-height: 25px;
    }
  }
  .objectifs {
    @include section;
    gap: 30px;
    article {
      display: flex;
      flex-direction: column;
      gap: 10px;
      ul {
        display: flex;
        flex-direction: column;
        gap: 5px;
        li {
          margin-left: 20px;
        }
      }
    }
  }
}
