@import "./mixin";

.recipes {
  height: 95vh;
  background-image: url(/assets/img/background/background-recipes.webp);
  @include backgroundImg;
  @include displayColumn;
  gap: 20px;
  article {
    @include section;
    h2 {
      width: 100%;
      margin-bottom: 30px;
    }
    .formRecipes_container {
      display: grid;
      grid-template-columns: 240px 240px 240px;
      justify-content: space-around;
    }
  }
}
