@import "./variables";
@import "./mixin";
.reviews {
  @include section;
  position: relative;
  margin: auto;
  width: 50%;
  justify-content: space-between;
  .nameRatingContainer {
    display: flex;
    justify-content: space-between;
    .name {
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
    }
    .ratings {
      display: flex;
      gap: 5px;
      .fa-star {
        color: gray;
      }
      .active {
        color: #f2d670;
      }
    }
  }
  .nameRatingContainer,
  .comment {
    padding: 0 40px 0 40px;
  }
  .fa-chevron-left,
  .fa-chevron-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 25px;
    color: $brown;
  }

  .fa-chevron-left {
    left: 20px;
  }

  .fa-chevron-right {
    right: 20px;
  }
  ul {
    display: flex;
    justify-content: center;
    gap: 10px;
    list-style: none;

    li {
      width: 20px;
      height: 10px;
      border-radius: 30%;
      border: 1px solid $brown;
    }

    .dotSelected {
      background-color: $brown;
    }
  }
}
