@import "./mixin";

.submitReview {
  @include section;
  @include displayColumn;
  align-items: center;
  gap: 20px;
  width: 700px;
  margin: 0 auto;
  @media (max-width: 768px) {
    width: 100%;
  }
  form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    label {
      @include font18-600;
      margin-left: 10px;
    }
    .name,
    .firstName,
    .formReview {
      @include displayColumn;
      gap: 10px;
    }
    input,
    textarea {
      @include input;
      resize: none;
      background-color: #d9d9d9;
      padding: 10px 20px;
      font-size: 16px;
    }
    .name,
    .firstName {
      input {
        width: 233px;
        height: 40px;
      }
    }
    @include ratings;
    .ratings {
      margin-left: 215px;
      @media (max-width: 768px) {
        margin-left: 0px;
      }
      p {
        font-weight: 700;
      }
    }
    .formReview {
      width: 100%;
      textarea {
        height: 150px;
      }
    }
  }
  button {
    @include input;
    @include font18-600;
    width: 210px;
    height: 40px;
    background-color: rgb(133, 170, 132, 0.7);
    cursor: pointer;
    &:active,
    &:focus {
      background-color: rgba(133, 170, 132, 0.7);
      color: inherit;
      box-shadow: none;
      outline: none;
    }
  }
}
