@use "../../styles/variables" as *;
@use "../../styles/mixin" as *;

.home {
  position: relative;
  @include displayColumn;
  gap: 30px;
  .objectif {
    @include section;
    @include grid3Colums;
      gap: 30px;
      @media (max-width: 1024px) {
        grid-template-columns: calc(51% - 30px) calc(51% - 30px);
      }
      @media (max-width: 768px) {
        @include displayColumn;
        gap: 30px;
    }
    h2{
      grid-column: 1 / 4;
      @media (max-width: 1024px) {
        grid-column: 1 / 3;
      }
    }
  }
}
