@use "../../styles/mixin" as *;

.message {
  @include modal;
  .message_container {
    width: 400px;
    border-radius: 5px;
    justify-content: center;
    gap: 10px;
    @include displayColumn;
    @include modal_container;
    @media (max-width: 768px) {
      width: 90%;
    }
    p {
      text-align: center;
    }
  }
}
// toute les modal doivent etre par rapport au html en position absolute -> probleme avec l'image
