@use "../../styles/variables" as *;
$imgHeightMobile-marginTopNav: 75px;

header {
  display: flex;
  gap: 2vw;
  padding: 0 0 30px 10px;
  img {
    height: 150px;
    width: 77px;
    object-fit: contain;
    @media (max-width: 1024px) {
      height: 100px;
      width: 69px;
    }
    @media (max-width: 768px) {
      height: $imgHeightMobile-marginTopNav;
      width: 62px;
    }
  }
  .header___container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    .text {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      h1 {
        font-family: 'Newsreader', sans-serif;
        font-size: 48px;
        font-weight: 900;
        @media (max-width: 1024px) {
          font-size: 24px;
        }
        @media (max-width: 768px) {
          font-size: 20px;
        }
      }
      p {
        font-size: 24px;
        font-family: "Alata", sans-serif;
        @media (max-width: 1024px) {
          font-size: 18px;
        }
        @media (max-width: 768px) {
          font-size: 14px;
          margin-right: 40px;
        }
      }
    }
    nav {
      margin-right: 20px;
      ul {
        display: flex;
        justify-content: flex-end;
        gap: 15px;
        list-style: none;
      }
      li {
        a {
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          font-family: "Alata", sans-serif;
          text-align: center;
          border-radius: 20px;
          color: black;
          text-decoration: none;
          box-shadow: 0 0 10px -2px;
          background-color: #85AA84;
          font-size: 16px;
          padding: 10px 15px;
          @media (max-width: 1024px) {
            font-size: 12px;
            padding: 5px 10px;
          }
          &:hover{
            transform: scale(1.1);
          }
        }
        .active {
          background-color: #B89854;
        }
        
      }
      @media (max-width: 768px) {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        visibility: hidden;
        opacity: 0;
      }
    }
    .fa-solid {
      display: none;
      @media (max-width: 768px) {
        position: absolute;
        display: block;
        top: 25px;
        right: 20px;
        font-size: 20px;
      }
    }
    .mobile {
      width: 100%;
      height: 100%;
      background-color: white;
      opacity: 0;
      visibility: hidden;
      z-index: -1;
      transition: visibility 200ms ease, opacity 200ms ease, z-index 200ms;
    
      &.active {
        opacity: 1;
        visibility: visible;
        z-index: 20;
        transition: visibility 200ms ease, opacity 200ms ease; 
      }
    
      ul {
        margin-top: $imgHeightMobile-marginTopNav;
        flex-direction: column;
        gap: 10px;
        li {
          background-color: transparent;
        }
      }
    }
  }    
}