@use "../../styles/mixin" as *;

.selectPeople {
  
  justify-content: center;
  @include displayColumn;
  @media (max-width: 768px) {
    grid-column: 1 / 3;
  }
  select {
    padding: 10px;
    @include input;
    @include insideInput;    
  }
}
