@use "../../styles/mixin" as *;

.labelInput {
  @include displayColumn;
  justify-content: space-between;
  gap: 10px;
  label {
    margin-left: 10px;
    @include font18-600;
  }

  input {
    padding: 10px 20px;
    @include input;
    @include insideInput;
  }
}
