@import "../../styles/mixin";

.submitReview {
  @include section;
  @include displayColumn;
  align-items: center;
  gap: 20px;
  width: 700px;
  margin: 0 auto;
  @media (max-width: 768px) {
    width: 100%;
  }
  form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    .name,
    .firstName {
      @include displayColumn;
      gap: 10px;
    }
    .name,
    .firstName {
      input {
        width: 233px;
        height: 40px;
      }
    }
    .starRatings{
      
      margin-left: 233px;
      @media (max-width: 768px) {
        margin-left: 0;
      }
    }
  }
}
