@use "../../styles/mixin" as *;
@use "../../styles/variables" as *;

.modalAdd {
  z-index: 3;
  @include modal;
  .modalAdd_container {
    position: absolute;
    z-index: 4;
    top: 210px;
    width: 768px;
    border-radius: 20px;
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    gap: 30px;
    @include modal_container;
    h2 {
      grid-row: 1;
    }
    .fa-xmark {
      top: 15px;
      right: 15px;
    }
    .modalNav {
      grid-row: 2;
      display: flex;
      justify-content: space-around;
      .active {
        font-weight: 700;
        transform: scale(1.15);
      }
      .complete {
        color: $black;
      }
    }
    .addColumns {
      display: grid;
      grid-template-columns: repeat(2, calc(50%));
      .createElement {
        @include createElementIngredient;
      }
      .ingredientsList {
        gap: 20px;
        border-left: 1px solid black;
        padding-left: 20px;
        @include displayColumn;
      }
    }
    ul {
      gap: 20px;
      @include displayColumn;
      li {
        display: flex;
        gap: 15px;
        align-items: center;
      }
      .fa-trash {
        cursor: pointer;
      }
    }

    .steps {
      @include displayColumn;
      .createElement,
      .ingredientsList,
      form {
        gap: 20px;
        @include displayColumn;
      }
      .createElement {
        padding-bottom: 20px;
        border-bottom: 1px solid black;
      }
      .ingredientsList {
        padding: 20px;
        border-top: 1px solid black;
      }
    }
    .addRecipes {
      width: 100%;
      @include buttonSubmit;
    }
  }
}
