@use "../../styles/mixin" as *;

.message {
  z-index: 10;
  @include modal;
  .message_container {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    width: 400px;
    border-radius: 5px;
    justify-content: center;
    gap: 10px;
    @include displayColumn;
    @include modal_container;
    p {
      text-align: center;
    }
    .validation {
      display: flex;
      justify-content: space-around;
      button {
        width: 90px;
        cursor: pointer;
        padding: 10px;
        @include buttonSubmit;
      }
    }
  }
}
