@use "../../styles/mixin" as *;

.modalAddTableau{
    @include displayColumn;
    gap: 20px;
 .createTableau{
    display: grid;
    grid-template-columns: 300px 120px 150px;
    justify-content: space-around;
}   
}

