@use "../../styles/mixin" as *;

.reviews {
  @include section;
  @include displayColumn;
    justify-content: space-between;
  gap: 20px;
  .reviews_container {
    position: relative;
    display: grid;
    grid-template-columns:calc(33% - 33px) calc(33% - 33px) calc(33% - 33px);
    justify-content: center;
    gap: 20px;
    @media (max-width: 1024px){
      display: flex;
    }
      [class*="fa-chevron"] {
        position: absolute;
      top: 50%;
      transform: translateY(-50%);
        cursor: pointer;
      font-size: 30px;
    }
     .fa-chevron-left{
      left: 0;
    }
    .fa-chevron-right{
      right: 0;
    }     
    }
    
    @media (max-width: 1024px) {
      .ReviewDesktop{
        display: none;
      }
    }
  }
