@use "../../styles/mixin" as *;

.modalNavItem {
  width: 160px;
  background: #95e38f;
  color: #b51212;
  background: linear-gradient(
    0deg,
    rgba(83, 207, 79, 1) 0%,
    rgb(133, 170, 132, 1) 100%
  );
  padding: 20px;
  border-radius: 10px;
  @include recipeButton;
  @include font18-600;
}
