.backgroundImg {
  position: absolute;  
  min-width: 100vw;      /* Couvre au minimum la largeur de la fenêtre */
  min-height: 100vh;     /* Couvre au minimum la hauteur de la fenêtre */
  height: 100%;          /* S'étend à la hauteur totale du contenu */
  width: 100%;           /* S'étend à la largeur totale du contenu */
  top: 0;
  left: 0;
  object-fit: cover;
  object-position: center;
  z-index: -2;
}